<div class="form-container pt-8" [formGroup]="form">
  <div class="control-group">
    <div class="icon-input">
      <div class="grid grid-cols-3 py-2">
        <label for="oldPassword" class="pl-8 pt-2">Old Password</label>
        <input [type]="visibility ? 'text' : 'password'" formControlName="oldPassword" class="form-control col-span-2" />
        <button tabindex="-1" type="button" class="visibilityBtn" (click)="toggleVisibility()">
          <app-icon name="visibilityOn" *ngIf="!visibility"></app-icon>
          <app-icon name="visibilityOff" *ngIf="visibility"></app-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="oldPasswordInvalid">
    <app-validation-message *ngIf="oldPassword.errors?.required" validator="required"></app-validation-message>
    <app-validation-message *ngIf="oldPassword.errors?.password" validator="password"></app-validation-message>
  </ng-container>

  <div class="control-group">
    <div class="icon-input">
      <div class="grid grid-cols-3 py-2">
        <label for="password" class="pl-8 pt-2">Password</label>
        <input [type]="visibility ? 'text' : 'password'" formControlName="password" class="form-control col-span-2" />
      </div>
    </div>
  </div>

  <ng-container *ngIf="passwordInvalid">
    <app-validation-message *ngIf="password.errors?.required" validator="required"></app-validation-message>
    <app-validation-message *ngIf="password.errors?.password" validator="password"></app-validation-message>
  </ng-container>

  <div class="control-group">
    <div class="grid grid-cols-3 py-2">
      <label for="confirmPassword" class="pl-8 pt-2">Re-type Password</label>
      <input [type]="visibility ? 'text' : 'password'" formControlName="confirmPassword" class="form-control col-span-2" />
    </div>
  </div>

  <ng-container *ngIf="confirmPasswordInvalid">
    <app-validation-message *ngIf="confirmPassword.errors?.required" validator="required"></app-validation-message>
    <app-validation-message *ngIf="confirmPassword.errors?.passwordNotMatch" validator="password-not-match"> </app-validation-message>
  </ng-container>
</div>
