@import "variables.scss";
@import "mixins.scss";

.slide_item_last {
  @apply bg-right-bottom;
  @apply md:bg-75 lg:bg-50;
}

.carouselButton {
  @apply bg-primary-t2 text-white text-xl px-6 py-4 rounded-lg;
}

.title {
  font-weight: 700;
  @apply text-5xl mb-6;
  @apply sm:text-4xl;
}

.sub {
  @apply text-3xl font-light tracking-wide leading-snug;
}

.sub-white {
  @apply sub text-white;
}

.sub-black {
  @apply sub text-neutral-600;
}

.slide-item {
  @apply absolute px-12 inset-0 flex items-center justify-start transition-all ease-in-out duration-1000 transform bg-white;

  .item-container {
    @apply pl-4 w-full;
    @apply md:w-2/4;
    @apply lg:w-3/5;

    button {
      @apply mt-8;
    }

    .title-white {
      @apply title text-white;
    }
    .title-black {
      @apply title text-neutral-primary;
    }

    .title-green {
      @apply title;
    }

    .item1-sub {
      @apply sub-black;
      @apply sm:text-2xl;
      @apply md:text-3xl;
      @apply lg:text-4xl;
    }

    .item2-sub {
      @apply sub-black;
    }

    .item3-sub {
      @apply sub-black text-neutral-600;
    }
  }
}

.item1 {
  @apply translate-x-0 z-20;
}

.item2 {
  @apply translate-x-full;
}

.item3 {
  @apply -translate-x-full;
}

.arrow {
  @apply absolute z-30 cursor-pointer text-5xl flex items-center inset-y-2/4;
}

.arrow-right {
  @apply arrow right-0 pr-3;
  @apply sm:pr-5;
}

.arrow-left {
  @apply arrow left-0 pl-3;
  @apply sm:pl-5;
}

.arrow-btn {
  @apply p-2 rounded-md;

  span {
    opacity: 0.7;
  }
}

@media (hover: hover) {
  .arrow-btn {
    &:hover {
      background-color: rgba($primary-white, 0.4);
      span {
        opacity: 1;
      }
    }
  }
}
