section.body {
  padding: 10%;
  min-height: 100vh;
  @apply w-full h-full bg-gray-100 bg-no-repeat flex justify-center items-center bg-cover;
  @screen sm {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .content {
    @apply flex flex-col justify-center space-y-10;
    @apply lg:flex-row lg:space-y-0 lg:space-x-10;
  }
}

.btn-submit {
  @apply mt-6 py-2 px-4 text-white font-medium rounded-lg shadow-md hover:shadow-lg transition duration-300;
}

.card-title {
  @apply text-gray-700 font-bold text-2xl text-center mb-3;
}

.card-content {
  @apply text-gray-700 tracking-wide text-center;
}
