<div class="change-password-container">
  <h1 class="text-neutral-primary font-bold text-xl">Change Password</h1>
  <p class="text-neutral-200">Manage my password</p>
  <div class="grid grid-flow-col justify-start gap-3 items-center pb-3 border-b-2 border-neutral-100"></div>
  <app-change-password-form formControlName="change-password"></app-change-password-form>
  <div class="grid justify-end items-end">
    <button class="bg-primary text-white rounded-lg px-10 py-2 mt-4">Add</button>
  </div>
</div>
