<div class="form-container" [formGroup]="form">
  <div class="control-group">
    <label for="password">Password</label>
    <div class="icon-input">
      <input [type]="visibility ? 'text' : 'password'" placeholder="Password" formControlName="password" class="form-control" />
      <button tabindex="-1" type="button" class="visibilityBtn" (click)="toggleVisibility()">
        <app-icon name="visibilityOn" *ngIf="!visibility"></app-icon>
        <app-icon name="visibilityOff" *ngIf="visibility"></app-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="passwordInvalid">
    <app-validation-message *ngIf="password.errors?.required" validator="required"></app-validation-message>
    <app-validation-message *ngIf="password.errors?.password" validator="password"></app-validation-message>
  </ng-container>
  <div class="control-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      [type]="visibility ? 'text' : 'password'"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      class="form-control"
    />
  </div>
  <ng-container *ngIf="confirmPasswordInvalid">
    <app-validation-message *ngIf="confirmPassword.errors?.required" validator="required"></app-validation-message>
    <app-validation-message *ngIf="confirmPassword.errors?.passwordNotMatch" validator="password-not-match"> </app-validation-message>
  </ng-container>
</div>
