<div [formGroup]="form" class="form-container">
  <div class="control-group">
    <label for="firstName">Full Name</label>
    <input type="text" formControlName="fullName" class="form-control" placeholder="Billy Ray Johnson" />
  </div>
  <ng-container *ngIf="fullNameInvalid">
    <app-validation-message *ngIf="fullName.errors?.required" validator="name-required"></app-validation-message>
  </ng-container>
  <div class="control-group">
    <label for="phoneNumber">Mobile Number</label>
    <input type="text" placeholder="09691234567" formControlName="phoneNumber" class="form-control" />
    <ng-container *ngIf="phoneNumber.invalid && phoneNumber.touched">
      <app-validation-message *ngIf="phoneNumber.errors?.required" validator="required"></app-validation-message>
      <app-validation-message *ngIf="phoneNumber.errors?.mobile && phoneNumber.value" validator="mobile"></app-validation-message>
    </ng-container>
  </div>
</div>
